body {
    background-color: #fff
}

.gal {
    list-style-type: none
}

.gal li {
    display: inline-block;
    float: left
}

.gal li img {
    margin: 0 10px 10px 0
}

.btn-load-gal {
    clear: both;
    display: block;
    width: 190px;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #006400;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer
}