body
  background-color #fff

.gal
  list-style-type none
  li
    display inline-block
    float left
    img
      margin 0 10px 10px 0

.btn-load-gal
  clear both
  display block
  width 190px
  padding 10px 15px
  margin 0 auto
  background-color darkgreen
  border-radius 5px
  border none
  color #fff
  text-transform uppercase
  font-size 1em
  cursor pointer

