doctype html
html(lang="ru-Ru")
    head
        title JS-Image-Lib
        link(rel="stylesheet" type='text/css' href="/css/app.css")
    body
        div(id="app")
            ul.gal#gal
            button.btn-load-gal#btn-load-gal
script(src="/js/app.min.js")